@tailwind base;
@tailwind components;
@tailwind utilities;

/* db8a00 */

:root {
  --base-background: #fff4dd;
  --dongker-color: #23314c;
  --orange-color: #ffab00;
  --yellow-color: #ffe629;
  --gray-color: #c6beb9;
}

* {
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--base-background);
}

@layer utilities {
  .custom__container {
    @apply mx-auto w-full max-w-[1300px] px-4 lg:px-8;
  }
}

/* Animations */
.animate__swing {
  animation: swing 2s infinite;
  transform-origin: top center;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -20deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 10deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
